<!--<header>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid" >
      <div class="navbar-header">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
        <img class="menu-icon" id="menu-icon" src="images/menu-icon.png"/>
        <img class="logo-icon" src="images/ValueLabs.png"/>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!--<li  class="right-inner-addon"><input type="search" class="form-control" placeholder="Search"/> <i class="glyphicon glyphicon-search"></i></li>
        <li class ="item1"><a class="dropdown-toggle" data-toggle="dropdown" ui-sref="user" > <i class="glyphicon glyphicon-user" ></i>MeenaKumari</a>
          <ul class="dropdown-menu">
            <li class="item2"><a ui-sref="profilet">Profile</a></li>
            <li class="item2"><a ui-sref="help">Help</a></li>
            <li class="item2"><a ui-sref="settings">Settings</a></li>
          </ul>
        </li>
      <li class ="item1"><a ui-sref="home"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
    </ul>
  </div>
</nav>
</header>-->
<header>
  <nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Valuelabs EDI Platform</p>
    </div>
  </div>
</nav>
</header>
