<nav class="secondnav navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav" >
      <li class="item1"><a ui-sref='Home'><b>Home</b></a></li>
      <li class="item1"><a ui-sref='ProcessXml'><b>Process XML</b></a></li>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><b>Status of Files</b>
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a ui-sref="SentFiles">Sent Files</a></li>
        <li><a ui-sref="NotSentFiles">Not Sent Files</a></li>
      </ul>
    </li>
      <li class="item1"><a ui-sref='home'><b>About Us</b></a></li>
    </ul>
  <ul class="nav navbar-nav navbar-right">
    <!--<li  class="right-inner-addon"><input type="text" class="form-control" placeholder="Search"/> <i class="glyphicon glyphicon-search"></i></li>
  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>{{user}}</a>
        <ul class="dropdown-menu">
          <li class="item2"><a>Profile</a></li>
          <li class="item2"><a>Help</a></li>
          <li class="item2"><a>Settings</a></li>
        </ul>
      </li>-->
      <li><a ui-sref='Logout' ng-click = 'destroy()'><span class="glyphicon glyphicon-off"></span> <b>Logout</b></a></li>
    </ul>
  </div>
</nav>
